// Colors
$red: #F1352B;
$lime: #7ACB00;
$purple: #6E27C5;
$navy: #150F96;
$gray: #c7c4c7;
$lt-gray: #bebebe;
$med-gray: #757373;
$dark-gray: #4b4a4a;
$white: #ffffff;
$black: #000000;
$orange: #EC6A13;
$lt-orange: #f7c19d;
$changes-blue: #1E8CD6;
$lt-blue: #53b7fa;

// font styles
$sans-serif: 'Montserrat', sans-serif;
$light: 300;
$medium: 400;
$bold: 600;
$xbold: 700;
$title: 3rem;


// mobile menu variables
$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s; 