// Colors
$gray: #c7c4c7;
$dark-gray: #757373;
$white: #ffffff;
$black: #000000;
$orange: #EC6A13;
$lt-orange: #f7c19d;
$changes-blue: #1395EC;

// font styles
$sans-serif: 'Montserrat', Helvetica, Verdana, sans-serif;
$light: 300;
$title: 3rem;